
.mainTitle {
    margin: auto;
    font-size:1000%;
    padding: 10px;
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    text-decoration-line: underline;
    text-decoration-color: rgb(196, 0, 0);

  }

body {
    background-color: rgb(238, 228, 85);
    font-family: 'Helvetica Neue', sans-serif;
  
    width: 100%;
  }

.Introduction {
    font-family: 'Helvetica Neue', sans-serif;
    text-shadow: 2px 2px 5px red;
    text-align: center;
}

.buttonHolder {
    display: flex;

    height: 200px;

}

.Play {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: rgb(255, 255, 255); /* Green */
    border: 2px solid black;
    border-radius: 12px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    justify-content: center;
  }

.Play:hover {
    transition-duration: 0.4s;
    background-color: #880303; /* Green */
    border: 2px solid black;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    
  }

.ButtonHolder{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    
}


.Input{
    margin: auto;
    width: 100%;
    padding: 10px;

} 
  
input[type="text"]{
    width: 100%;
    padding: 5px 15px;
    margin: 8px 5;
    box-sizing: border-box;    
    border: 2px solid black;
    border-radius: 4px;
    color: black;
}


.user{
    display: block;
    width:100%;
    justify-content: center;

}

/* El uso de > sirve para buscar el tag dentro de una clase */
.user>label{
    width: 100%;
    text-align: left;
    

}



.formBox{
    width: 400px;
    margin: auto;
    
}

.secondPageH1{

    width: 100%;

    padding: 10px;



}

.bingoNumber{

    margin: auto;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-around;

}

.prueba{
    width: 25%;
    padding: 10px;
}

.carton{

    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

table, th, td {
    border: 1px solid;

  }

tr, td{
    text-align: center;

}


table {
    width: 20%;
    border-collapse: collapse;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
}

#tblBingo{
    cursor:pointer;

}

.cell-format{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid black;
    font-size: 40px;
}

.cell-format:hover{
    background-color: rgb(238, 255, 0);
}

.strickout{
    text-decoration: line-through;
    color: rgb(102, 0, 0);
    background-color: rgb(243, 204, 204);
    pointer-events: none;

}

.nums{
    padding: 5px;
    font-size: 200%;
    font-style: italic;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#numBut{
    display: flex;
}

#Over{
    font-size: 50px;

}

.start{

    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;

}